
<main role="main">
    <div class="container-fluid ">
        <section class="jumbotron text-c bgc">
            <h1 class="jumbotron-heading">Bride and Grooms Parents</h1>
            <p class="lead text-muted"></p>
        </section>
    </div>

    <div class="container-fluid text-c">
        <div class="row">
            <div class="col-md-6 sm-size">
            <h2>Mr. Noel Ibay </h2>  <p> and</p><h2> Mrs. Erlinda Ibay</h2>           
            <img src="https://scontent.fcrk1-1.fna.fbcdn.net/v/t1.0-9/70361182_3033770606649418_1094924645653544960_n.jpg?_nc_cat=103&_nc_oc=AQmqmbzDy2P18UfhLVD_QpWKu8Z6aReTU7MSfe7IM4QkkQCyKaXaihEc0Z3TIbL2NSI&_nc_ht=scontent.fcrk1-1.fna&oh=a8201d52be76c9cf271f8a550d5d56bb&oe=5E3547EE" class="img-rounded parent-pic" alt="Cinque Terre"> 
            </div>
            <div class="col-md-6 sm-size" >
                    <h2 >Mr. Reynaldo Sampana </h2>  <p> and</p><h2> Ms. Geraldine Capalad</h2>           
                    <img  class='parent-pic' src="https://scontent.fcrk1-2.fna.fbcdn.net/v/t1.0-9/65890236_2867826116577202_6938857444390993920_n.jpg?_nc_cat=104&_nc_oc=AQkZ7VPXidsCwbfEl6EvHvgLqifCI3MrpGSWAO1frhzCXzb6O3AFEw_bGYgyMWwuv94&_nc_ht=scontent.fcrk1-2.fna&oh=75d89d0452d1703ba08edc98034ae3cd&oe=5E38CE9E"  class="img-rounded parent-pic" alt="Cinque Terre"> 
            </div>
        </div>
    </div>
    
    <div class="container-fluid margin text-c">
        <section class="jumbotron text-center bgc">
            <h1 class="jumbotron-heading">Our Principal Sponsors</h1>
            <p class="lead text-muted"></p>
        </section>
    </div>
        <div class="album py-5 text-c">
          <div class="container-fluid">
  
            <div class="row">
              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" src="https://scontent.fcrk1-2.fna.fbcdn.net/v/t1.0-9/64971725_2867826773243803_1198555081155280896_n.jpg?_nc_cat=102&_nc_oc=AQn15ePEIgt0isp8spZ3LTUIk1d7XAw4wENBoz8tAAlc2YvkNszt3fzpoJAzsqQUfeg&_nc_ht=scontent.fcrk1-2.fna&oh=3e56e7129964570b4ac96e583939ec5c&oe=5DEF3BE6" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Mr. Armando De Jesus & Mrs. Virginia De Jesus </p>
                    
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" src="https://scontent.fcrk1-2.fna.fbcdn.net/v/t1.0-9/65656269_2867827693243711_6772896424855076864_n.jpg?_nc_cat=102&_nc_oc=AQm6kui2uODY4zpVdaYojejN-cP-0z2JA1VYTzfvTQE9HwSbfZ-0BXGAXOlrhbUKZJk&_nc_ht=scontent.fcrk1-2.fna&oh=8f2dc5addbbc3712f7000777f753bdc0&oe=5E04E394" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Mr. Edito Sertimo and Mrs. Encarnacion Musni
                        </p>
                    
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" src="https://scontent.fcrk1-2.fna.fbcdn.net/v/t1.0-9/66084668_2867824526577361_8733325038704394240_n.jpg?_nc_cat=110&_nc_oc=AQlG-rOVr-5l_44z0hgQbBnqX4UNA3JbwbUJSTmJRzY1rifAz8Wte_gbf0FGZf-X-jE&_nc_ht=scontent.fcrk1-2.fna&oh=d41bdf37cd9dcffa187ef4ac5faede3b&oe=5DFC5774" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Mr. Barrie Betts and Mrs. Leilani Betts
                        </p>
                    </div>
                </div>
              </div>
  
              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" src="https://scontent.fcrk1-2.fna.fbcdn.net/v/t1.0-9/65538827_2867825023243978_6964257932519145472_n.jpg?_nc_cat=105&_nc_oc=AQk9YISGAci5EdCrQJFaQOsc26Er7leeC7gBeEO4JoWufj4udk8XGJsj2G3DkOsc8pA&_nc_ht=scontent.fcrk1-2.fna&oh=34474b3ff0de90edf9763d09b6523e1f&oe=5E081D3D" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Mr. Jeffrey Pineda and Mrs. Ronajoys Gozun

                        </p>
                   
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" src="https://scontent.fcrk1-1.fna.fbcdn.net/v/t1.0-9/65428717_2867827853243695_786889144507826176_n.jpg?_nc_cat=107&_nc_oc=AQlAU90aYF6wkApQQ1tVGfB2GdbgZawqh4y7rOx53_hCbHyHUzx9R9-XlFRy-RNaZLQ&_nc_ht=scontent.fcrk1-1.fna&oh=f75c501eaa51c14031370fa5e4c0863d&oe=5DFC1C75" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Mr. Ronaldo Ibay
                        </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" src="https://scontent.fcrk1-2.fna.fbcdn.net/v/t1.0-9/65565426_2867824783244002_4775211069951967232_n.jpg?_nc_cat=106&_nc_oc=AQl_3vyaqgTpzjK1vlpCo8w2f87vLZ2z2XXR-d0E6VwaFY41bvDSMdKXezfcF3DgDCs&_nc_ht=scontent.fcrk1-2.fna&oh=9650b15b64b57acd97cb705da3691134&oe=5E3CA579" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Mr. Ricardo Guzman and Mrs. Glendaline Hipps 

                        </p>
                    
                  </div>
                </div>
              </div>
  
              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" src="https://scontent.fcrk1-2.fna.fbcdn.net/v/t1.0-9/65758011_2867826946577119_7285770229290893312_n.jpg?_nc_cat=108&_nc_oc=AQn-zAzT4i3Fu6iX9CqTCI0yHRLoBj5Go-CFY_6MLgnV8ivdpAtI1vIA1VUeR3eXjj4&_nc_ht=scontent.fcrk1-2.fna&oh=d69fb3413e63675ce195b09b0cc72694&oe=5DFA50AF" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Mr. Edwin Tanael and Mrs. Bernadete Rivera

                        </p>
                   
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" src="https://scontent.fcrk1-2.fna.fbcdn.net/v/t1.0-9/65536832_2867827323243748_6297379803578236928_n.jpg?_nc_cat=108&_nc_oc=AQkL3VcbVXJ_8aP_2ri_zPLImv10enrIRx6r7uE8q1qZvPMqjO2kT2UK4jezrKh-_n4&_nc_ht=scontent.fcrk1-2.fna&oh=cb173983496af99d910cc838a9975f4d&oe=5DFBEA50" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Mr. Mario Dizon and Mrs. Erlinda Dizon</p>
                   
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top" src="https://scontent.fcrk1-1.fna.fbcdn.net/v/t1.0-9/70674636_3033721579987654_5367269060415324160_n.jpg?_nc_cat=111&_nc_oc=AQlG5kdLDfSdXU1hOjmI05iRRwuOXwsm4tqhHpa10ULuv_JLXzujLh91EwcHzhHhOAs&_nc_ht=scontent.fcrk1-1.fna&oh=b617cc32f3935e9bf48f346304ff1ae9&oe=5DFCED2D" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Mr. Joselito Icban and Mrs. Marilou Icban
                        </p>
                    
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                      <img class="card-img-top" src="https://scontent.fcrk1-2.fna.fbcdn.net/v/t1.0-9/70401313_3033721583320987_8385651911449116672_n.jpg?_nc_cat=108&_nc_oc=AQnISMUZmOgjycPSJP6--jvwCtlE5b1wqW-4tO4vzLfqs-O4_5pPlrH6FR_qOYNGp6o&_nc_ht=scontent.fcrk1-2.fna&oh=8960a581fae651a9f7033da0690c07da&oe=5E39DC17" alt="Card image cap">
                      <div class="card-body">
                        <p class="card-text">Mr. Rodolfo Sonza Jr.
                                and Mrs. Priscilla Evangelista

                            </p>
                        
                      </div>
                    </div>
                  </div>
            </div>
          </div>
        </div>
  
        <div class="container ">
                <section class="jumbotron text-c bgc">
                    <h1 class="jumbotron-heading">Secondary Sponsors		
                        </h1>
                    <p class="lead text-muted"></p>
                </section>
            </div>
        
            <div class="container-fluid text-c">
                <div class="row">
                        <div class="col-md-12">
                                <h2>Best Man and Maid of Honor </h2>           
                                <img src="https://scontent.fcrk1-2.fna.fbcdn.net/v/t1.0-9/66128804_2867828283243652_4651223077877710848_n.jpg?_nc_cat=106&_nc_oc=AQlkZpq_C9WjO0ATQkScDL0u5j4xx8GVLQCJSamr4dYY-G6AuH6CrpxIpq7jary-M-U&_nc_ht=scontent.fcrk1-2.fna&oh=c771ec71252c953dbe001113530939dc&oe=5E056B77" class="img-rounded parent-pic" alt="Cinque Terre"> 
                                <p>Danny Lee Hug I and Ericka Mae Lacson</p>
                                
                        </div>
                    <div class='col-md-6'>
                            <h2>Bridesmaids</h2> 
                       
                            <p> Ms. Jerimay Jevina Panlilio</p>
                            <p>Ms. Reñee Dar</p>
                                <p> Ms. Rosette Esmeralda Musni</p>
                                    <p> Ms. Reighann Josephine Lintag</p>
                                        <p>Ms. Jenika Paula Dianelo</p>
                                            <p>Ms. Margie Sibug</p>
                                                <p>Ms. Jenalyn Lacandola</p>
                    </div>
                    <div class='col-md-6'>
                            <h2>Groomsmen</h2>   
                            <p>Mr. Ernehst Lacson</p>
                            <p>Mr. Justin Lintag</p>
                            <p>Mr. Sam Tanael</p>
                            <p>Mr. Mark Joseph Dacanay</p>
                            <p> Mr. Michael Zest Hug</p>
                            <p>Mr. Edward Mark Lacson</p>
                            <p>Mr. Murphy Ibay</p>
                    </div>
                    <div class="col-md-6">
                         
                        <img src="https://scontent.fcrk1-1.fna.fbcdn.net/v/t1.0-9/62235731_2867832296576584_7957085201182490624_n.jpg?_nc_cat=111&_nc_oc=AQmWrOiky9G6HRktu9Nk13aWnwndmeLfVMhX7mXoetjrqvUXN8RE38YjcCm8h55K8JA&_nc_ht=scontent.fcrk1-1.fna&oh=2f1a767c2e349f5396a0af9dd8e32f8f&oe=5E3A2F90" class="img-rounded parent-pic" alt="Cinque Terre">
                        
                         
                      
                    </div>
                    <div class="col-md-6">
                                     
                            <img  class='parent-pic' src="https://scontent.fcrk1-2.fna.fbcdn.net/v/t1.0-9/65640436_2867799676579846_7763392118982180864_n.jpg?_nc_cat=110&_nc_oc=AQnIOCZjDvH8UGlqRBTmV_Zl6e6QYFSHdIp10qdQSKYCWXwfIQdKOpFOyNKLkMnydFo&_nc_ht=scontent.fcrk1-2.fna&oh=3f85721b378acf43ca57643987572ca2&oe=5E334D74" alt="Cinque Terre"> 
                    </div>
                </div>
                
            </div>

      </main>