



 <main class='container text-c' role="main">

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="first-slide" src="https://scontent.fcrk1-2.fna.fbcdn.net/v/t1.0-9/65985766_2867794896580324_8974343021214564352_n.jpg?_nc_cat=110&_nc_oc=AQmTtf7Yz442KjuSmKuJZ0QbTABQcuKVPKBjjrwNDpDXppd6PVwvXkxASJZM-mtXz0w&_nc_ht=scontent.fcrk1-2.fna&oh=a17715076a73c68896b6f9a8b7d52482&oe=5DF7AF1E" alt="First slide">
              <div class="container">
                <div class="carousel-caption text-left">
                  <h1>June 11, 2018</h1>
                  <p>This was a wonderful event for us. Thank you for comming and sharing your time with us.</p>
                  <p><a class="btn btn-lg btn-primary" href="/contact" role="button">Message US</a></p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img class="second-slide" src="https://scontent.fcrk1-1.fna.fbcdn.net/v/t1.0-9/65508021_2867798316579982_5830490684972335104_n.jpg?_nc_cat=111&_nc_oc=AQnJhE-2u8aKOqpH6bZSvz3I1jT3uZUbh4gglp87gBuTS_QStoaP6mqsMb1NERmI_0E&_nc_ht=scontent.fcrk1-1.fna&oh=6d552448ea71e5541066cadd1c2e16a5&oe=5E04C6FD" alt="Second slide">
              <div class="container">
                <div class="carousel-caption">
                  <h1>Gerald Hero C. Hug</h1>
                  <p></p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img class="third-slide" src="https://scontent.fcrk1-2.fna.fbcdn.net/v/t1.0-9/65320981_2867796933246787_2213099388094382080_n.jpg?_nc_cat=104&_nc_oc=AQnV67Elv63wpJ8A4jQ3vcKeIzCSehgh96ouhwqp8PWSq-Y-_Fp8Aqw4S-ou3ARnl34&_nc_ht=scontent.fcrk1-2.fna&oh=1e581b45488cdce69d2e5f2a20956e77&oe=5E3DEC56" alt="Third slide">
              <div class="container">
                <div class="carousel-caption text-right">
                  <h1>Murghy L. Ibay</h1>
                  <p></p>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
  
  
  
  
          <!-- START THE FEATURETTES -->
          

          <hr class="featurette-divider">
  
          <div class="row featurette">
            <div class="col-md-7">
              
              <h2 class="featurette-heading">Bride and Groom preparation <span class="text-muted"> @</span></h2>
              <p class="lead">Imerex Plaza Hotel</p>
            </div>
            <div class="col-md-5">
              <img class="featurette-image img-fluid mx-auto" src="https://scontent.fcrk1-1.fna.fbcdn.net/v/t1.0-9/65421705_2867798766579937_8018793680678682624_n.jpg?_nc_cat=103&_nc_oc=AQnAEQmR3YN708iqfBHV516kiUmhPguzrLc3iwQIHCJPnE2RPtkTNO8CeTSDkUvSQn0&_nc_ht=scontent.fcrk1-1.fna&oh=ca9ed2c2828e83ea5afeb2be2c0cfd81&oe=5DFA7A61" alt="Generic placeholder image">
            </div>
          </div>
  
          <hr class="featurette-divider">
  
          <div class="row featurette">
            <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading">Reception Venue <span class="text-muted"> @</span></h2>
              <p class="lead">Plaza Victoria, Angeles City Sports Center.</p>
            </div>
            <div class="col-md-5 order-md-1">
              <img class="featurette-image img-fluid mx-auto" src="https://scontent.fcrk1-2.fna.fbcdn.net/v/t1.0-9/65289433_2867831556576658_8351957759868010496_n.jpg?_nc_cat=104&_nc_oc=AQnq_LtSynipl3J5rcxgNJ2ihClvF7V3TfF7-h_anTYL9lPKCBKMcLl9GK1gUhiJ4m0&_nc_ht=scontent.fcrk1-2.fna&oh=0bea8695ac4f8cb49ee141fd43510637&oe=5DF1D7F4" alt="Generic placeholder image">
            </div>
          </div>
          
          <hr class="featurette-divider">
             
          <div class="row featurette">
            <div class="col-md-7">
                    <h2 class="featurette-heading">Mass Held<span class="text-muted"> @</span></h2>
                    <p class="lead">San Nicolas De Tolentino, Angeles City</p>
                  </div>
                  <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" src="https://scontent.fcrk1-2.fna.fbcdn.net/v/t1.0-9/65427580_2867800206579793_6778715276612468736_n.jpg?_nc_cat=105&_nc_oc=AQnFt-afbcdCWSGlVoWHJfRrPzhJHM8d2-4A3N5hEFeu0v0w6ZEaBecXI6jXVqJy3bw&_nc_ht=scontent.fcrk1-2.fna&oh=d1305b99992f7e921121ba8ec3d02259&oe=5E01732C" alt="Generic placeholder image">


            </div>
          </div>

          <hr class="featurette-divider">
  
          <!-- /END THE FEATURETTES -->
  



        </div><!-- /.container -->
  </main>

<div class="container main">
	<h2>Wedding Video:</h2> 
	<div class="embed-responsive embed-responsive-16by9">
		<iframe class="embed-responsive-item" src="https://drive.google.com/file/d/1AlJ4zCW_byvwfKV41jXZfXPWA1S366Na/preview" autoplay></iframe>
	  </div>
</div>
	 


