<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
	<title>Gerald and Murghy</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link href="https://fonts.googleapis.com/css?family=Vollkorn+SC&display=swap" rel="stylesheet">
        <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="css/carousel.css" rel="stylesheet">
    <!-- FontAwesome -->
	 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">
	<!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body id='body'>
	<header class="header">
		<div class="navbar-container">
				<ul>
					<li class="nav-link">
						<a href="/">Home
						</a>
						<div class="underline"></div>
					</li>
					<li class="nav-link">
						<a href="/about">About</a>
						<div class="underline"></div>
					</li>
					<li class="nav-link">
						<a href="/photo">Photo</a>
						<div class="underline"></div>
					</li>
					<li class="nav-link">
						<a href="/contact">Contact</a>
						<div class="underline"></div>
					</li>
				</ul>
			</div>
	<div>
		
		<p class="header-date">11 June 2019</p>
		<p class="header-text">Murghy and Gerald</p>
	</div>

</header>

<%- body %>


  <!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Murghy and Gerald</h5>
        <p>Cheers! </p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Pages</h5>

        <ul class="list-unstyled">
          <li>
            <a href="/about" id="icon">About</a>
          </li>
          <li>
            <a href="/photo" id="icon">Photo</a>
          </li>
          <li>
            <a href="/contact" id="icon">Contact</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Social Accounts</h5>

        <ul class="list-unstyled center-icon ">
          <li>
            <a href="https://www.facebook.com/gerald30hug" target=”_blank” id="icon"><i class="fab fa-facebook-f margin"></i></a>
            <a href="https://www.instagram.com/huggerald/" target=”_blank” id="icon"><i class="fab fa-instagram margin"></i></a> 
            <a href="#!" id="icon"><i class="fab fa-google margin"></i></a>  
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="/"> Murghy And Gerald</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
  <script type="text/javascript" src="js/index.js"></script>
  </body>
  </html>