
<div class="container my-4">
    <p>Prenuptial Shoot: </p>
    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4">
        
            <img src="https://scontent.fmnl17-2.fna.fbcdn.net/v/t1.0-9/60295628_2777294135630401_5646440126474092544_n.jpg?_nc_cat=102&_nc_oc=AQkx02Vx8yrkX7R9mH-NCbz-vufaOxVbfV9Iw37HniDpTT7Kp6tac2jwd6yHT5QHGdQ&_nc_ht=scontent.fmnl17-2.fna&oh=4b72ee9eb5e91849da63056b97d4d221&oe=5DF9E04F" class="img-fluid mb-4" alt="hero">

            <img src="https://scontent.fcrk1-1.fna.fbcdn.net/v/t1.0-9/60391940_2777294438963704_6307108054827532288_n.jpg?_nc_cat=104&_nc_oc=AQlEX9cLxwtY6qGYsLSvOIWD6gUEqQhiTmwtwz2PCsJ-S2R0_pYBNRbSLo9cRLR_r-I&_nc_ht=scontent.fcrk1-1.fna&oh=81649b6bd66d81f079e2ccf71b9633e1&oe=5DFC5491" class="img-fluid mb-4" alt="hero">

            <img src="https://scontent.fcrk1-1.fna.fbcdn.net/v/t1.0-9/60277435_2777294592297022_1005346406841450496_n.jpg?_nc_cat=100&_nc_oc=AQlhW0W1Uiutx64imz0C2X1hv4fD2Zg56Kk2m7-5Nw36hMp_Keae9N_Lr3vyf5XU8dI&_nc_ht=scontent.fcrk1-1.fna&oh=9a269dcdc1b492510ac380ccd350aad2&oe=5E0768CA" class="img-fluid mb-4" alt="hero">

            <img src="https://scontent.fcrk1-1.fna.fbcdn.net/v/t1.0-9/60778706_2777295592296922_6623801892214407168_n.jpg?_nc_cat=104&_nc_oc=AQn6nYYk3HGqZcAchKjcLdlxTR9M3Q2UMcb0DL-8wJz4b2Gcv_KtMYFpNUxnrEMv3g4&_nc_ht=scontent.fcrk1-1.fna&oh=1b4a47918fadb27ff77a1f7b42c9675f&oe=5E0DA8B0" class="img-fluid mb-4" alt="hero">

            <img src="https://scontent.fmnl17-2.fna.fbcdn.net/v/t1.0-9/60153689_2777298452296636_2641057617459281920_n.jpg?_nc_cat=111&_nc_oc=AQmICkymPT0cfwttI5jpz_c6He3kBY97Unjh1sNHOxILly050zrXqCua31NFop7UmtE&_nc_ht=scontent.fmnl17-2.fna&oh=5c4fa789293cc3270ad235c38d5004b1&oe=5DF452AE" class="img-fluid mb-4" alt="hero">
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
            <img src="https://scontent.fcrk1-1.fna.fbcdn.net/v/t1.0-9/60538347_2777294678963680_5150891279512502272_n.jpg?_nc_cat=101&_nc_oc=AQnZS-te2nsK__viWKBidrs-o4ySRdti_e-ZBq7x9sAlsHD7UaV6CIkV5IQo-7VlR84&_nc_ht=scontent.fcrk1-1.fna&oh=45cec15f3d21c11fecc24692a2ca6d89&oe=5DF7559D" class="img-fluid mb-4" alt="hero">

            <img src="https://scontent.fcrk1-1.fna.fbcdn.net/v/t1.0-9/60455279_2777295755630239_2657810635613536256_n.jpg?_nc_cat=106&_nc_oc=AQlQluGP64ItQON7ysf_736RskkfI78A7koNgK8g9n-tasdX4LDHE199LfIDa1mlD-A&_nc_ht=scontent.fcrk1-1.fna&oh=2a2f44898f3e97734a5f5f1f9f09ba00&oe=5E0FE694" class="img-fluid mb-4" alt="hero">

            <img src="https://scontent.fcrk1-1.fna.fbcdn.net/v/t1.0-9/60278534_2777298038963344_6571005663130943488_n.jpg?_nc_cat=101&_nc_oc=AQlNrxv8xGM6FNe1WLx2kPCPyBuF_KXsAo1t1TPUcc-AZbN4v3sVXGUQTBHSwzmBfik&_nc_ht=scontent.fcrk1-1.fna&oh=69c614bca85efa4ff9e722d5ebe7e1be&oe=5E05E43F" class="img-fluid mb-4" alt="hero">
        </div>

        <div class="col-lg-4 col-md-12 mb-4">
            <img src="https://scontent.fcrk1-1.fna.fbcdn.net/v/t1.0-9/60201287_2777294885630326_7356943171734994944_n.jpg?_nc_cat=108&_nc_oc=AQkY97H4_cK8N5QTgU_QPxHgR8yfxL_A1B6WWqQc2Huf_eBOsztdAQKudcdpHcTKu_U&_nc_ht=scontent.fcrk1-1.fna&oh=b329d0c52930e25d337f813db19e1bad&oe=5DFFB6DE" class="img-fluid mb-4" alt="hero">
        

        <img src="https://scontent.fmnl17-2.fna.fbcdn.net/v/t1.0-9/60339184_2777295142296967_5165006745365381120_n.jpg?_nc_cat=102&_nc_oc=AQkaW-6mQ4-7ThOX2tootaHNB6YOx3AoswLbQ-pKNVGj45NsoD_mGYYgFOB4DlNRKM8&_nc_ht=scontent.fmnl17-2.fna&oh=907f5bfdbffdaa902c411634d91f2d71&oe=5DF75317" class="img-fluid mb-4" alt="hero">


        <img src="https://scontent.fmnl17-2.fna.fbcdn.net/v/t1.0-9/60127906_2777296348963513_9013169920707395584_n.jpg?_nc_cat=103&_nc_oc=AQk87ggzQ81Z4JDbqr37brAeMBqXzOTJsUQnpELm5-xtDiuTRYvXI3DE1Igl-glZ5jA&_nc_ht=scontent.fmnl17-2.fna&oh=58eb42be338562b5678994a238d31634&oe=5E1016CD" class="img-fluid mb-4" alt="hero">

        <img src="https://scontent.fcrk1-1.fna.fbcdn.net/v/t1.0-9/60297118_2777297758963372_2709871643605336064_n.jpg?_nc_cat=106&_nc_oc=AQmW3cwzzcPsilvxHg8-vNNvWrDknGj6KcqfNzt11C-pJ-ZfGHu8fIT6hI4eSq2niSI&_nc_ht=scontent.fcrk1-1.fna&oh=70a718ec47711b4454146af077f6a2ce&oe=5DFB3787" class="img-fluid mb-4" alt="hero">
        
        </div>
    </div>
    

     

  </div>


<div class="container-fluid my-4">
  <p>Wedding Photo: </p>

    <div class="row">
        <% Pic.forEach( index => { %>
            <div class="col-md-4 sm-size">
                    <img src="<%= index.img %>" class="fixed-size">
                </div>
        <% }) %>
        
    </div>
</div>

<!-- end -->